.card {
  background-color: #ffffffdd;
	margin: 0 20px;
  margin-top: 8px;
	padding: 30px;
	border-radius: 10px;
	transition: .3s linear;
  height: 350px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_wrapper {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.card_image {

}

.card_content {
  text-align: center;
}

.card_content h3 {
  margin: 5px;
}

.card_content p {
  font-weight: 300;
  font-size: .8em;
}

.preco{
	font-size: 15px;
	font-style: italic;
	color: #e77f67;
}