.container_compra {
  margin: 0 40px;
  padding-top: 12px;
}

.cep {
  display: flex;
  gap: 2px;
  margin: 20px 0;
}

.valorAntigo {
  text-decoration: line-through;
}

.desconto {
  background-color: #40cd28;
  border-radius: 5px;
  color: white;
}

.ok {
  background-color: #80d6f7;
  height: 55px;
  width: 55px;
  border-radius: 5px;
}

.button_wrapper {
  position: relative;
}

#comprar {
  width: 100%;
  height: 45px;
  background-color: #40cd28;
  border-radius: 8px;
  color: white;
}

p {
  font-size: .8em;
}

.container_compra > span {
  text-decoration: underline;
  font-size: .8em;
  margin-bottom: 10px;
}
.container_compra > span:hover {
  cursor: pointer;
  color: blue;
}