.card {
  background-color: #ffffffdd;
	margin: 0 20px;
  margin-top: 8px;
	padding: 30px;
	border-radius: 10px;
	transition: .3s linear;
  height: 350px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card_wrapper {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.card_image {
  height: 100vh;
}

.card_content {
  text-align: left;
  text-overflow: ellipsis;
}

.title {
  margin: 10px 0;
  height: 40%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_content p {
  font-weight: 300;
  font-size: .8em;
}

.preco{
  margin-left: 5px;
	font-size: 20px;
	font-weight: 600;
}

.estrela {
  height: 10px;
  width: 10px;
}